.homepage-container {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.3;
        background-color: black !important;
        background: url('./Assets/pattern.svg') repeat;
        filter: invert(1);
        background-size: contain;
        z-index: 0;

    }
}