.ProductCard {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 10;
    isolation: isolate;


    gap: 1.5rem;
    background-color: rgb(31, 31, 31);
    padding: 1rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 768px) {
        padding: 0.5rem;
        height: fit-content !important;
        flex-direction: column;
    }

    &:hover {
        opacity: 0.8;
        transition: all 0.1s ease-in-out;
    }

    .ProductCard__imageContainer {
        width: 20rem;

        @media screen and (max-width: 768px) {
            width: 100%;
            height: fit-content;
        }

        .ProductCard__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.1s ease-in-out;
            border-radius: 0.5rem;

            @media screen and (max-width: 768px) {
                width: 100%;
                height: 10rem;
            }

        }
    }

    .ProductCard__InfoContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .ProductCard__title {
            color: white;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            font-family: 'Epilogue', sans-serif;
            font-size: 1.5rem;

            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
                height: fit-content;
            }

            .ProductCard__icon {
                height: 1rem;
                width: 1rem;
                color: white;
                transition: all 0.1s ease-in-out;
            }
        }

        .ProductCard__createdAt {
            color: rgb(255, 255, 255, 0.3);
            font-size: 1rem;
            font-weight: 400;
            font-family: 'Epilogue', sans-serif;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .ProductCard__description {
            color: rgb(255, 255, 255, 0.5);
            font-size: 1rem;
            font-weight: 400;
            font-family: 'Epilogue', sans-serif;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            height: 3rem;
            width: 100%;
            // text wrap fix
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: 768px) {
                height: fit-content;
                max-height: 3rem;
            }


        }

        .ProductCard__tagContainer {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            height: 2rem;
        }


    }

    &:hover {
        transition: all 0.1s ease-in-out;

        // .ProductCard__image {
        //     transform: scale(1.1);
        // }

        .ProductCard__backdrop {
            opacity: 1;
        }
    }

    @media screen and (max-width: 768px) {
        .ProductCard__backdrop {
            opacity: 1 !important;
            background-color: transparent !important;
            box-shadow: inset 0 -3rem 0rem 0rem rgba(0, 0, 0, 0.7);
            padding: 0.5rem 1rem;
            font-size: 1rem;

            .ProductCard__title {
                font-size: 1.25rem;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .ProductCard__icon {
                    height: 1rem;
                    width: 1rem;
                }
            }
        }
    }
}