.layout-container {
    position: relative;
    z-index: 1;
    isolation: isolate;
    opacity: 1 !important;
    background-color: black !important;

    &::before {
        // isolation: isolate;
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        background: url('./Assets/pattern.svg') repeat;
        filter: invert(1);
        background-size: contain;
        z-index: -1;

    }
}